name: Actions

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build JAR
        run: ./gradlew build
        working-directory: backend

      - name: Build image
        run: |
          docker build -t ${{ secrets.ECR_REPOSITORY }}:latest -f backend/dockerfile backend

